# ===================================================================
#  ALGEMENE BESTANDEN & GEHEIMEN
# ===================================================================
# Negeer het .env bestand met geheimen, maar behoud het voorbeeld.
.env
!example.env

# Negeer PHP dependency manager bestanden
composer.phar
composer.lock
/vendor/

apps/
automation/
database/
backups/
apps/*
automation/*
database/*
backups/*